/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Header */
.header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
    animation: fadeIn 1s ease-in-out;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.hero h2 {
    font-size: 38px;
    margin: -20px 0 10px;
}

.hero p {
    font-size: 17px;
    margin-bottom: 20px;
}

.hero .button {
    padding: 15px 20px;
    background-color: #0858b2;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero .button:hover {
    background-color: #1180E8;
}

.profile-photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4.5px solid #0858b2;    
    padding: 4.5px;
    margin: 0 auto 20px;
    transition: transform 0.3s;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profile-photo:hover {
    transform: translateY(-2px);
}

.tracking-in-expand {
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



/* Skills Section */
.skills {
    background-color: #fff;
    text-align: center;
    margin-bottom: 50px;
    animation: fadeIn 2s ease-in-out;
}

.skills h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-list li {
    background-color: #dee7f3;
    padding: 10px 20px;
    border-radius: 25px;
    color: #666;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.skills-list li:hover {
    background-color: #86ADE8;
    color: #333;
}

/* Work History Section */
.work-history {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: left;
    animation: fadeIn 3s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .work-history, #star {
        text-align: left;
    }


}
    .work-history h4 {
        text-align: center;
    }

        #star:hover {
            text-shadow: 1px 1px 20px #debe1a;
            transition: text-shadow 0.3s ease;
        }
        body.dark-mode #star:hover {
            text-shadow: 1px 1px 10px #fff;
        }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

/* Responsive Grid for Smaller Devices */
@media (max-width: 1440px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 1080px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 10px;
    }
}

@media (max-width: 420px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 5px;
    }
}

@media (max-width: 375px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 5px;
    }
}

@media (max-width: 320px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        gap: 10px;
    }
}

.article {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.article img {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
}

.article h3 {
    margin-top: 15px;
    font-size: 24px;
}

.article p {
    font-size: 16px;
    color: #666;
}

.article:hover {
    transform: translateY(-10px);
}

.work-history h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.work-history h3 {
    font-size: 23px;
    margin: 40px 0 10px;
}

.work-history h4 {
    font-size: 20px;
    margin: 80px 0 50px;
}

.work-history ul {
    list-style-type: none;
    padding: 0;
}

.work-history ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.work-history p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0px;
}

/* Calendly Section */
.calendly {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.calendly h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/* Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer p {
    margin: 20px 0 0;
}

/* Scroll to Top Button */
#scrollTopBtn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#scrollTopBtn:hover {
    background-color: #555;
}

/* Show button on screens wider than 768px */
@media (min-width: 768px) {
    #scrollTopBtn, #pop {
        display: block;
    }
}

/* Modal container */
#cvModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: modalFadeIn 0.4s;
}

#cvModal .close-button {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#cvModal .modal-content {
    margin: auto;
    display: block;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#cvModal .modal-content iframe {
    width: 100%;
    height: 900px;
    border-radius: 10px;
}

/* Animation for modal fade-in */
@keyframes modalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Burger Menu Styles */
.burger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000; /* Ensure burger icon stays on top of header */
}

.burger-menu {
    text-align: center;
}

.burger-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.burger-menu ul li {
    display: inline;
}

@media (max-width: 768px) {
    .burger-icon {
        display: block;
        width: 50%;
    }

    .burger-menu {
        display: none;
    }

    .burger-menu.show {
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        width: 50%;
        background-color: #fff;
        z-index: 1000;
        text-align: center;
        padding: 10px 0; /* Padding to make sure items are not too close to edges */
    }

    .burger-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .burger-menu ul li {
        margin-bottom: 10px;
    }
}

.burger-menu ul li:hover {
    border-bottom: 3px solid #0858b2;
}


.burger-menu .button {
    padding: 10px 20px;
    background-color: #0858b2;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center; 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
}

/* Typing Animation Styles */
.typing-animation {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.cursor {
    display: inline-block;
    background-color: #333;
    width: 2px;
    animation: blink 0.7s infinite;
    margin-left: 3px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .header nav ul li a {
    color: #ddd;
}

body.dark-mode .typing-animation {
    color: #ddd;
}

.header.dark-mode {
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.hero.dark-mode, .work-history.dark-mode {
    background-color: #222;
}

body.dark-mode .profile-photo {
    border: 5.5px solid #0858b2;
    box-shadow: 1px 5px 30px #0858b2;
}

body.dark-mode #star {
    text-shadow: 1px 1px 20px #debe1a;
}

body.dark-mode #darkModeToggle {
    box-shadow: 1px 1px 20px #debe1a;
}

.skills.dark-mode,
.footer.dark-mode {
    background-color: #333;
}

body.dark-mode .work-history p {
    color: #ddd;
}

body.dark-mode .article {
    background-color: #333;
    color: #ddd;
}

body.dark-mode .article p {
    color: #bbb;
}

body.dark-mode .article h3 {
    color: #fff;
}

body.dark-mode .burger-menu.show {
    background-color: #222;
}

.skills-list li.dark-mode {
    background-color: #333;
    color: #ddd;
}

.button.dark-mode {
    background-color: #0858b2;
    color: #ddd;
    box-shadow: 1px 5px 30px #0858b2;
}

.button.dark-mode:hover {
    background-color: #1180E8;
    color: #fff;
}

#scrollTopBtn.dark-mode {
    background-color: #444;
    color: #fff;
}

#cvModal.dark-mode {
    background-color: rgba(255, 255, 255, 0.3);
}

.modal-content.dark-mode {
    background-color: #333;
}

/* Smooth Transition for Mode Switch */
body, .header, .hero, .skills, .work-history, .footer, .button, #scrollTopBtn, #cvModal, .modal-content {
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode for Calendly Widget */
body.dark-mode .calendly {
    background-color: #222;
    color: #fff;
}

body.dark-mode .calendly-inline-widget {
    background-color: #222;
}

body.dark-mode .calendly-badge-widget {
    background-color: #333 !important;
    color: #fff !important;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .calendly-badge-widget .calendly-badge-widget-button {
    background-color: #333 !important;
    color: #fff !important;
}

/* Floating Button Styles with Icons */
#darkModeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#darkModeToggle:hover {
    background-color: #555;
    transform: scale(1.05);
}
